<section id="blog" class="bg-lighter">
   <div class="container">
      <div class="section-title text-center">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <h2 class="title text-uppercase">Dicono di<span class="text-theme-colored"> Noi</span></h2>
               <p class="text-uppercase letter-space-2">Rassegna Stampa</p>
            </div>
         </div>
      </div>

      <div class="section-content">
         <div class="row">
            <div class="col-md-12 mb-sm-20">
               <div class="owl-carousel-3col">
               


               {% for review in reviews %}
                 <div class="item">
                     <article class="post clearfix maxwidth600 mb-sm-30">
                        <div class="entry-content bg-white border-1px p-20">
                           <h4 class="entry-title mt-0 pt-0"><a href="{{review.url}}">{{review.title}}</a></h4>
                           <div class="entry-date">

                              <i class="fa fa-calendar ml-5 mr-5"></i>{{ review.published_at|date('d/m/y') }}
                              <i class="fa fa-newspaper-o ml-5 mr-5"></i>{{review.newspaper.name}}
                           </div>
                           <div class="thumb mt-20">
                              <a href="{{review.url}}"><img src="{{ review.images.first.path|resize(320,180,{mode:'crop'}) }}" alt=""></a>
                              <div class="icons-holder">
                              </div>
                           </div>
                           
                           <div class="clearfix"></div>
                        </div>
                     </article>
                  </div>
                {% endfor %}
                 
                
               </div>
            </div>
         </div>
      </div>
   </div>
</section>